@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: black; /* Your background color */
  color: #FFF;
  font-family: 'Inter';
}

.title {
    text-align: start;
}

.App {
  text-align: center;
  color: #FFF;
  height: 100vh;
  padding-top: 70px;
}


/* YourComponent.module.css */
.background-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.background-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}
