.footer {
    background-color: black;
    position: absolute;
    left: 0;
    right: 0;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.footer-left {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    
}